article {
    background-color: #2E2E2E;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#exchange-rates-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#exchange-rates-table th, #exchange-rates-table td {
    border: 1px solid #444;
    padding: 10px;
    text-align: left;
}

#exchange-rates-table th {
    background-color: #333;
}

#exchange-rates-table td {
    background-color: #1E1E1E;
}

#exchange-rates-table tr.even-row td {
    background-color: #2E2E2E;
}

#exchange-rates-table tr.odd-row td {
    background-color: #1E1E1E;
}
